<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <!-- <parameter name="tc_master" value="${testcaseFile}"></parameter> -->
  <test thread-count="5" name="WebTest">
    <classes>
      <class name="com.rgt.runner.WebTest"/>
    </classes>
  </test> <!-- WebTest -->
</suite> <!-- Suite -->
